<div class="mt-10 text-center ml-72 mr-72">
    <div class="text-2xl">ABOUT:</div>
    <div class="mt-2">Consumer behavior is the study of people and the processes they use to select, use (consume), and dispose of goods and services, as well as their emotional, mental, and behavioral responses. The study of individuals, groups, or organizations, as well as all behaviors related to the purchase, use, and disposal of product and services, is known as consumer behavior. Consumer behavior refers to how a person's feelings, attitudes. and preferences influence their purchasing decisions.</div>
</div>