<div class="flex justify-center mt-10">
    <div class="block p-6 bg-gray-300 rounded-lg shadow-lg">
        <div class="flex justify-center border-b border-gray-500 w-72 uppercase">
            Consumer Behavior Test
        </div>
        <div class="my-12">
            <form>
                <div>
                    <label>Username</label>
                    <input type="text" class="border rounded w-full shadow mt-2 px-2 py-1"/>
                </div>
                <div class="mt-4">
                    <label>Password</label>
                    <input type="password" class="border rounded w-full shadow mt-2 px-2 py-1"/>
                </div>
                <div class="mt-4 w-full">
                    <button type="submit" class="rounded shadow-lg px-6 py-2 border bg-blue-500 text-white">Login</button>
                </div>
            </form>
        </div>
        <div class="flex justify-center border-t border-gray-500 w-72 text-sm p-2">
            Dont have account? <span class="ml-2 underline text-blue-700"><a href="create-account">Create Account</a></span>
        </div>
    </div>
</div>