<div class="w-full mt-24 text-center">
    <a href="{{ result.redirect }}">
        <div class="ml-72 mr-72 border bg-gray-100 p-8 shadow-lg">
            <div>Your score is:</div>
            <div>{{ score }}/115</div>
            <div class="mt-4 font-bold text-lg uppercase">Your behavior:</div>
            <div class="font-bold text-lg uppercase">{{ result.behavior }}</div>
            <div class="mt-4">{{ result.message }}</div>
        </div>
    </a>
</div>