<div class="w-full mt-10 ml-72 mr-72">
    <form method="POST">
        <div class="flex w-full">
            <div class="w-20 mr-2 text-lg">Age:</div>
            <input type="number" name="age" class="border rounded px-2 py-1" />
        </div>
        <div class="flex w-full mt-4">
            <div class="w-20 mr-2 text-lg">Gender:</div>
            <select name="gender" class="border rounded px-2 py-1">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        {{#each questions}}
        <div class="mt-6 capitalize">{{ question }}</div>
        <div class="mt-2">
            {{#each options}}
            <div class="flex content-center">
                <input type="radio" name="{{ name }}" value="{{ value }}" class="w-4 h-4 mx-4" />
                {{ value }}
            </div>
            {{/each}}
        </div>
        {{/each}}
        <div class="mt-10">
            <button type="submit" class="px-6 py-2 bg-blue-500 text-white rounded-lg border">SUBMIT</button>
        </div>
    </form>
</div>